aside {
  width: 250px;
}

.filter {
  margin-bottom: 20px;
}

.filter-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-content {
  border: 1px solid #DDDDDD;
  padding: 10px;
  display: none;
}

.filter:hover .filter-content {
  display: block;
}

@media screen and (max-width: 768px) {
  aside {
    width: 100%;
  }

  .filter {
    margin-bottom: 10px;
  }
}

