footer {
    background-color: #00FF00;
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

